*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  height:100vh;
  background: linear-gradient(120deg,#ff512f,#f09819);
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  width:1000px;
  max-width:95%;
  height:500px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  border-radius:10px;
  overflow:hidden;
}

/* Left */
.left{
  width:60%;
  /* border: 1px solid; */
  background:transparent;
  color:#fff;
  padding:50px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.logo{
  margin-left:20px;
  margin-bottom:20px;
}
.logo i{
      font-size:70px;
        color: black;

}

.left h2{
  margin-bottom:20px;
  font-size: 35px;
  letter-spacing:1px;
}

.left p{
  font-size:16px;
  margin-bottom:30px;
}

.about-btn{
  width:200px;
  padding:20px 15px;
  border:none;
  border-radius:25px;
  cursor:pointer;
  background: #fff;
  color: black;
  box-shadow: 0 8px 20px rgba(240,152,25,0.45);
  transition: all 0.3s ease;
  transition: 0.8s;

}
.about-btn:hover{
    background :linear-gradient( to right,#f09812,#ff512f);
    color: #fff;
    /* transform: scale(1.1); */
    border: 2px solid #ccc;
     transform: translateY(2px);
  box-shadow: 0 12px 25px rgba(240,152,25,0.6);
}
.about-btn:active{
  transform: translateY(0);
  box-shadow: 0 5px 12px rgba(240,152,25,0.35);
}

/* Right */
.right{
  width:60%;
  height: 500px;
  background:#fff;
  padding:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 7px;
}
.right{
    /* HTML: <div class="rounded-edge"></div> */
  width: 550px;
  aspect-ratio: 2/2;
  /* update the 85% to control the curvature
     you can also update the 50% to control the position
  */
  clip-path: ellipse(100% 95% at 100% 50%);

}


form{
  width:100%;
  max-width:320px;

}

form h2{
  margin-bottom:40px;
  color:transparent;
  background: linear-gradient(to right, #f09812,#ff512f);
  -webkit-background-clip:text ;
  font-size: 30px;

}

input{
  width:100%;
  padding:12px;
  margin-bottom:18px;
  border:1px solid #ccc;
  transition: all 0.3s ease; 
   border-radius:5px;
}

input:focus,
input:active{
  outline:none;
  border-color:#ff512f;   /* same orange theme */
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(240,152,25,0.35);
}
input:focus{
  border-width:2px;
}
.btn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    margin-top: 20px;
}
button{
  width:120px;
  padding:10px;
  background:#f09819;
  border:none;
  color:#fff;
  border-radius:20px;
  cursor:pointer;
  transition: 0.8s;

}
button:hover{
    background:#ff512f;
    transform: scale(1.1);


}
.error{
  font-size: 14px;
  color: red;
}
.switch{
  margin-top:15px;
  font-size:18px;
  text-align: end;

}
.switch span:hover{
    color: #ff512f;

}

.switch span{
  color:#f09819;
  cursor:pointer;
  font-weight:bold;
  border-bottom: 1px solid #f09812;
}
.switch a{
  color: #f09812;
  display: flex;
  justify-content: end;
  padding-top: 10px;
    font-weight:bold;

}
.switch a:hover{
     color: #ff512f;
}

.hide{
  display:none;
}
.anger{
    margin-top: 15px;
    text-align: start;
    margin-left: 20px;
   
}

.anger a{
    color: #f09819;
    font-size: 18px;
}
.dash {
    width: 80px;
    border-bottom: 2px solid;
    border-radius: 5px;
    font-size: 30px;
    transition: 0.8s;
}
.dash:hover{
    color: transparent;
    background: linear-gradient(to right,#f09819,#fff);
    -webkit-background-clip: text;
    cursor: pointer;
}

/* Responsive */
@media(max-width:768px){
  .container{
    flex-direction:column;
    height:auto;
  }
  .left,.right{
    width:100%;
    border-radius:0;
  }
}



