*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-section{
  padding: 100px 60px;
  background: linear-gradient(135deg, rgba(255,81,47,0.05), rgba(240,152,25,0.05));
}

.about-container{
  display: flex;
  align-items: center;
  gap: 100px;
  max-width: 1200px;
  margin: auto;
}

.about-image{
  flex: 1;
}

.about-image img{
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.about-content{
  flex: 1;
}

.about-content h2{
  font-size: 42px;
  margin-bottom: 25px;
  color: #1a1a1a;
}

.about-content p{
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #555;
}

.about-features{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #d87c0a;
}

/* Responsive */
@media(max-width:900px){
  .about-container{
    flex-direction: column;
    text-align: center;
  }

  .about-section{
    padding: 70px 30px;
  }

  .about-content h2{
    font-size: 32px;
  }

  .about-features{
    grid-template-columns: 1fr;
  }
}
/* brand */
.brand-section{
  padding: 100px 60px;
  background: #fff;
  text-align: center;
}

.brand-title{
  font-size: 42px;
  margin-bottom: 15px;
  color: #1a1a1a;
}

.brand-subtitle{
  color: #777;
  max-width: 700px;
  margin: 0 auto 50px;
  font-size: 16px;
  line-height: 1.7;
}

.brand-logos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.brand-logos img{
  height: 60px;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: 0.4s ease;
}

.brand-logos img:hover{
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1);
}

/* Responsive */
@media(max-width:768px){
  .brand-section{
    padding: 70px 30px;
  }

  .brand-title{
    font-size: 32px;
  }

  .brand-logos{
    gap: 30px;
  }

  .brand-logos img{
    height: 45px;
  }
}
/* contact */
.contact-section{
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(135deg, rgba(255,81,47,0.05), rgba(240,152,25,0.05));
}

.contact-section h2{
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-section p{
  color: #555;
  margin-bottom: 30px;
}

.contact-section form{
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-section input,
.contact-section textarea{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.contact-section textarea{
  resize: none;
  height: 120px;
}

.contact-section button{
  padding: 12px;
  background: #ff512f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-section button:hover{
  background: #f09819;
}

.success-msg{
  margin-top: 15px;
  color: green;
}

